/* FONTS */
@font-face {
  font-family: "Denton Condensed";
  src: url("DentonCondensed/DentonCondensed-Regular.woff2") format("woff2"), 
    url("DentonCondensed/DentonCondensed-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Denton Condensed Bold";
  src: url("DentonCondensed/DentonCondensed-Bold.woff2") format("woff2"), 
    url("DentonCondensed/DentonCondensed-Bold.woff")
    format("woff");
}

@font-face {
  font-family: "Figure";
  src: url("Figure/Figure-Regular.woff2") format("woff2"), 
    url("Figure/Figure-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Figure Bold";
  src: url("Figure/Figure-Bold.woff2") format("woff2"), 
    url("Figure/Figure-Bold.woff")
    format("woff");
}

/* COLORS - Primary */
/* Ink #141414 */
.ink {color: #141414;}
.ink-background {background-color: #141414;}
/* Newsprint #f5f1f0 */
.newsprint {color: #f5f1f0;}
.newsprint-background {background-color: #f5f1f0;}
/* Yellow #f2ff00*/
.yellow {color: #f2ff00;}
.yellow-background {background-color: #f2ff00;}

/* COLORS - Secondary */
/* Plum #f2ff00*/
.plum {color: #8f00db;}
.plum-background {background-color: #8f00db;}
/* Orange #ff3b05*/
.orange {color: #ff3b05;}
.orange-background {background-color: #ff3b05;}



html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background-color: #f5f1f0; /* newsprint */
    color: #141414; /* ink */
    overflow-x: hidden;
    font-size: 1.6em;
	min-height: 100vh;
    font-family: "Figure", sans-serif;
}
header, h1, h2, h3, h4, .trailer {
    font-family: "Denton Condensed Bold", serif;
}
footer {
    font-family: "Figure", sans-serif;
}
header, footer, .main-footer {
    line-height: 1.4em;
}
header, main, .page-block {
    margin-bottom: 2em;
}

header {
    background-color: #141414; /* ink */
    color: #f5f1f0; /* newsprint */
}
header .logo-type {
    color: #f2ff00; /* yellow */
}


.page-container {
    max-width: 800px;
    margin: 0 auto;
}
a {
    color: #8f00db; /* plum */
}
h1, h2, h3, h4 {
    line-height: 1.3;
    margin: 0 0 .33em;
}
main h2 {
    margin-top: 1.5em;
}
.button {
    border: 0;
    border-radius: .25em;
    color: #f2ff00; /* yellow */
    background-color: #141414; /* ink */
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    padding: 1.125rem 1.5rem;
    line-height: 1;
    display: inline-block;
}


header {
    padding-bottom: 1.2em;
    margin-bottom: 4em;
}
header nav {
    background-color: #f2ff00; /* yellow */
    color: #f2ff00; /* ink */
    font-family: "Figure", sans-serif;
    text-align: left;
    font-size: .67em;
    margin-bottom: 1em;
}
header nav ul {
    margin: 0 0 0 0;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: left;
    height: inherit;
}
header nav li {
    list-style: none;
    padding: 1em 2em;
    padding-left: .5em;
}
header nav li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #141414; /* ink */
}
header nav a:hover {
    text-decoration: underline;
}
header h1 {
    font-family: "Denton Condensed Bold", sans-serif;
    color: #f2ff00; /* yellow */
    font-size: 4em;
    line-height: 1;
    padding: 0;
    margin: .33em 0 .2em 0;
    text-align: center;
}
header.homepage h1 {
    font-size: 7em;
}
header h1 a {
    text-decoration: none;
    color: #f2ff00; /* yellow */
}
header .page-intro {
    color: #f5f1f0; /* newsprint */
    font-family: "Denton Condensed";
    font-weight: normal;
    font-style: italic;
    font-size: 1.3em;
    line-height: 1.2;
    margin-bottom: 1.5em;
}
header ul.partner-logos {
    margin: 0 0 0 0;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin-bottom: -80px;
}
header.homepage ul.partner-logos {
    margin-bottom: -110px;
}
header ul.partner-logos li {
    list-style: none;
    padding: 0 1.5em 0;
}

header ul.partner-logos li.cjd img {
    height: 70px;
}
header ul.partner-logos li.ida img {
    height: 90px;
}

header.homepage ul.partner-logos li.cjd img {
    height: 120px;
}
header.homepage ul.partner-logos li.ida img {
    height: 160px;
}

.page-intro {
    text-align: center;
    margin: 0 -2.5em 2em;
    line-height: 1.3;
}
.page-intro .big-type {
    font-family: "Denton Condensed", serif;
    font-weight: normal;
    font-size: 1.7em;
}
.page-intro .contact-options {
    margin-left: .67em;
}
.page-intro .line-splitter {
    font-size: .67em;
    margin: 0 .5em;
    vertical-align: 10%;
}
.sub-nav {
    margin: 1em auto;
    max-width: 800px;
    font-family: "Figure", sans-serif;
    font-size: .83em;
}
.sub-nav .button {
    margin: 0 1em;
    background-color: #8f00db; /* ink */
    color: #f5f1f0; /* newsprint */
}

footer {
    font-size: .8em;
    text-align: center;
    padding-bottom: 2em;
}
footer .trailer {}




/* MAIN CONTENT AREA STYLES */
main {
    padding: 0 1em 1em;
    line-height: 1.6em;
}
main ul, main p {
    margin: 0 0 1em;
}
main input {
    font-size: .75em;
    padding: .25em;
    margin: 0 0 .5em;
}


.testimonials {
    font-family: "Figure", sans-serif;
    padding: 1em 0 0;
    display: grid;
    grid-gap: 1.5em 2em;
    grid-template-columns: 1fr 1fr;
}
.testimonial {
    position: relative;
    padding-left: 1.5em;
    display: inline-block;
    font-size: .83em;
    line-height: 1.3;
}
.pullquote-big-quote {
    font-family: "Denton Condensed", serif;
    position: absolute;
    top: -.1em;
    left: -.1em;
    font-size: 4.2em;
    line-height: 1;
    opacity: .4;
}
.pullquote-name {
    font-family: "Denton Condensed", serif;
    display: block;
    padding-top: .3em;
    text-align: right;
    font-style: italic;
}

#conduct {
    margin-top: 3em;
    padding: 0 2em 1em;
    font-size: .83em;
    line-height: 1.3;
}
#conduct, .airtable-embed {
    background-color: #fff;
    border: 1px solid rgba(20, 20, 20, .2);
}
#conduct h2 {
    margin-top: 1.3em;
}
#conduct h3 {
    margin: 2em 0 1em;
}
#conduct h2 + h3 {
    margin-top: 1em;
}


/* FOOTER STYLES */
footer p,
.main-footer p {
    margin: 0 0 1em;
}

footer #footer-nav {
    background-color: #232D44;
    margin-bottom: 1em;
    font-size: .6em;
}
footer ul,
.main-footer ul {
    margin: 0 0 2em;
    padding: 0;
}
footer li,
.main-footer li {
    list-style: none;
    padding-left: 0;
}
footer #footer-nav ul {
    line-height: 1;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 2em;
    margin: 0;
}
footer #footer-nav li {
    flex-grow: 1;
}
footer #footer-nav li a {
    display: block;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
footer #footer-nav a:hover {
    text-decoration: underline;
}
#footer-details .page-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.class-list {
	margin-bottom: 4em;
}
.class-list h2 {
	margin-bottom: 1.5em;
}
.class-list p {
	margin: 2em 0;
	padding-left: 25%;
}
.class-list h2 + p.intro {
	margin-top: -2em;
	padding: 0;
}
.class-list img {
	float: left;
	width: 20%;
	border-radius: 50%;
}


@media screen and (max-width: 960px) {
    .page-intro {
        margin: 0 -1em 1em;
    }
}

@media screen and (max-width: 900px) {
    .page-intro {
        margin: 0 0 1em;
        text-align: left;
    }
    header h1 {
        text-align: left;
    }
    header .page-container {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media screen and (max-width: 800px) {
    main, .page-block {
        margin-bottom: 1.3em;
    }
    .page-intro {
        margin: 0 0 1em;
    }
    .page-intro .contact-options {
        white-space: nowrap;
    }
    .page-intro .button {
        margin-top: 1em;
        display: inline-block;
    }
    header h1 {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 700px) {
    footer #footer-nav ul {
        display: inherit;
        padding: .5em 0;
    }
    footer #footer-nav li a {
        text-align: left;
    }
    .page-intro .big-type {
        font-size: 1.5em;
    }
    header .page-intro {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    header nav {
        font-size: .6em;
    }
    header h1 {
        font-size: 3em;
    }
    header.homepage h1 {
        font-size: 6em;
    }
    header.homepage ul.partner-logos {
        margin-bottom: -97px;
    }
    header.homepage ul.partner-logos li.cjd img {
        height: 100px;
    }
    header.homepage ul.partner-logos li.ida img {
        height: 130px;
    }
    .testimonials {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    header {
        margin-bottom: 3.5em;
    }
    header.homepage h1 {
        font-size: 5em;
    }
    .sub-nav span {
        display: block;
    }
    .sub-nav .button {
        margin-left: 0;
    }
}

@media screen and (max-width: 540px) {
    header {
        margin-bottom: 3em;
    }
    header nav {
        font-size: .5em;
    }
    header.homepage h1 {
        font-size: 4em;
    }
    .page-intro .big-type {
        font-size: 1.3em;
    }
    header .page-intro {
        font-size: 1em;
        margin-bottom: .75em;
    }
    header.homepage ul.partner-logos {
        margin-bottom: -88px;
    }
    header ul.partner-logos li {
        padding: 0 1em 0;
    }
    header.homepage ul.partner-logos li.cjd img {
        height: 80px;
    }
    header.homepage ul.partner-logos li.ida img {
        height: 110px;
    }
	.class-list p {
		margin-top: .33em;
		padding-left: 0;
	}
	.class-list img {
		float: none;
		width: 40%;
		margin: .5em 0 0 28%;
	}
}

@media screen and (max-width: 480px) {
    header nav li {
        flex-basis: min-content;
    }
}

@media screen and (max-width: 420px) {
    header h1, header.homepage h1 {
        font-size: 3em;
    }
    .page-intro .big-type {
        font-size: 1.2em;
    }
    header .page-intro {
        font-size: .9em;
    }
    header.homepage ul.partner-logos {
        margin-bottom: -80px;
    }
    header.homepage ul.partner-logos li.cjd img {
        height: 70px;
    }
    header.homepage ul.partner-logos li.ida img {
        height: 90px;
    }
}

@media screen and (max-width: 380px) {
	.class-list img {
		width: 50%;
		margin-left: 23%%;
	}
}
